Source: libzdb
Priority: extra
Maintainer: Paul J Stevens <paul@nfg.nl>
Build-Depends: debhelper (>= 8.1.3), autotools-dev, cdbs (>= 0.4.93~), automake, autoconf, libsqlite3-dev (>= 3.6.23.1-2), libpq-dev, libmysqlclient15-dev, libtool, flex, re2c
Standards-Version: 3.8.2
Section: libs

Package: libzdb-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libzdb9 (= ${binary:Version})
Description: Zild Database Library
 A small and easy to use database API written in C.
 .
 This library provides thread safe connection pooling 
 and exception handling.xs
 .
 This package contains the development files.

Package: libzdb9
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, ${misc:Pre-Depends}
Suggests: libzdb9-postgresql, libzdb9-mysql, libzdb9-sqlite3
Description:  Zild Database Library
 A small and easy to use database API written in C.
 .
 This library provides thread safe connection pooling 
 and exception handling. This version supports dynamic
 loading of database connectors.

Package: libzdb9-postgresql
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libzdb9 (>= ${binary:Version})
Description:  Zild Database Library - PostgreSQL connectivity
 A small and easy to use database API written in C.
 .
 This library provides thread safe connection pooling 
 and exception handling.
 .
 This package supports PostgreSQL connectivity.

Package: libzdb9-mysql
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libzdb9 (>= ${binary:Version})
Description:  Zild Database Library - MySQL connectivity
 A small and easy to use database API written in C.
 .
 This library provides thread safe connection pooling 
 and exception handling. xs
 .
 This package supports MySQL connectivity.

Package: libzdb9-sqlite3
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libzdb9 (>= ${binary:Version})
Description:  Zild Database Library - Sqlite3 connectivity
 A small and easy to use database API written in C.
 .
 This library provides thread safe connection pooling 
 and exception handling. 
 .
 This package supports Sqlite3 connectivity.
