#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

makebuilddir/libzdb-dev::
	./bootstrap

# Add here any variable or target overrides you need.
DEB_CONFIGURE_EXTRA_FLAGS := --enable-libdl \
	--with-mysql \
	--with-postgresql \
	--with-sqlite --enable-sqliteunlock \
	--without-oracle \
	--includedir=\$${prefix}/include/${DEB_HOST_MULTIARCH} \
	--libdir=\$${prefix}/lib/${DEB_HOST_MULTIARCH} 

